.app{
    padding: 1rem;
    width: 85vw;
    background-color: rgba(255, 255, 255, 0.244);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    &__header{
        width: 90%;
        color: rgb(255, 255, 255);
    }
}

